@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400');

body {
    background-color: #f9efd6;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 56px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    font-style: italic;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.app {
    margin: 24px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

#txt_help {
    display: none;
}

.counters {
    text-align: right;
}

.counters, h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.buttons {
    text-align: center;
    margin-top: 56px;
}

.labels {
    text-align: center;
}

.border {
    border: 8px solid #28ABE3;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    margin-top: 32px;
}

#lbl_top {
    margin: 8px;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: italic;

    display: none;
}

h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: italic;
} 

#many_values {
    display: none;
}

.early_value {
    margin-top: 64px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;

    background-color: #28ABE3;
  
    padding: 0 32px;
    display: inline-block;
    height: 56px;
    line-height: 56px;
    margin: 0.3em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border-radius: 32px;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border: none; 

    font-size: 24px;
    text-align: center;

    color: white;
}

button:link, button:visited {
    color: #fff;
}

button:hover {
    color: #fff;
    box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
    cursor: pointer;
}

button:active {
    opacity: .7;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.5);
}

.colored #btn_very {
    background-color: #1FDA9A;
}

.colored #btn_middle {
    background-color: #E8B71A;
}

.colored #btn_not {
    background-color: #DB3340;
}

button:disabled {
    color: #efefef;
    background-color: #777777; 
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    cursor: default;
}

button:focus {
    outline:0;
}

.share img {
    margin: 24px;
    width: 40px;
    width: 40px;
}

.share p {
    margin-bottom: 0px;
}

.share {
    margin-top: 64px;
    margin-bottom: 32px;

    display: none;
}

.smaller {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}